.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .blog {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
    }

  .blogStyle  {
    padding-top: 10px;
    padding-left: 2px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    }

  .inOneRow {
      display: flex; /* 2. display flex to the rescue */
      flex-direction: row;
    }

    .btn-link.btn-anchor {
      outline: none !important;
      padding: 0;
      border: 0;
      vertical-align: baseline;
  }


  